Q1.What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
#A database is an organized collection of structured information, or data, typically stored electronically in a computer system
#MySQL is a relational database that is based on tabular design whereas NoSQL is non-relational in nature with its document-based design.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
#In the context of SQL, data definition or data description language is a syntax for creating and modifying database objects such as tables, indices, and users. DDL statements are similar to a computer programming language for defining data structures, especially database schemas.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
#A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database. 
#A DML is typically a sublanguage of a larger database language like SQL, with the DML containing some of the language's operators.
#CREATE : to create objects in database
#ALTER : alters the structure of database
#DROP : delete objects from database
#RENAME : rename an objects

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
#The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL
#The SELECT statement is used to select data from a database. The data returned is stored in a result table, called the result-set

Q5. Explain Primary Key and Foreign Key.

In [ ]:
#A primary key generally focuses on the uniqueness of the table. It assures the value in the specific column is unique. 
#A foreign key is generally used to build a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

ModuleNotFoundError: No module named 'mysql'

In [ ]:
#Cursors are created by the connection. cursor() method: they are bound to the connection for the entire lifetime and all the commands are executed in the context of the database session wrapped by the connection.
#execute() returns an iterator if multi is True

Q7. Give the order of execution of SQL clauses in an SQL query.

FROM clause.
ON clause.
OUTER clause.
WHERE clause.
GROUP BY clause.
HAVING clause.
SELECT clause.
DISTINCT clause.