Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
MongoDB over SQL databases?

In [ ]:
# MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas
# A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.
# Why is using MongoDB better than using MySQL? Organizations of all sizes are adopting MongoDB, especially as a cloud database, because it enables them to build applications faster, handle highly diverse data types, and manage applications more efficiently at scale.

Q2. State and Explain the features of MongoDB.

In [ ]:
#MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. 
#This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL)

#MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. 
# It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [5]:
import pymongo

client3 = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.eqqaslj.mongodb.net/?retryWrites=true&w=majority")
db = client3.test

db=client3['venkata']

coll_create=db["my_record"]

data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}

coll_create.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data1 = {'_id': '10',"name" : "mallu",
        "class" : "MLDL ",
        "timing " : "OTD_FTQ"
}

coll_create.insert_one(data1)

data2 = [
    {'_id': '1',"name" : "MVR",        "class" : "TCS ",        "timing " : "office"},
    {'_id': '2',"name2" : "BVR",        "class2" : "Covalance ",        "timing1 " : "wfh"},
    {'_id': '3',"name3" : "BPRANAV",        "class3" : "7th ",        "school " : "Vydehi"},
    {'_id': '4',"name4" : "SUDIKSHA",        "class4" : "4th ",        "school2 " : "carmel"}
]
coll_create.insert_many(data2)    

for i in coll_create.find():
    print(i)
coll_create.find_one()

{'_id': ObjectId('63f0bf61dda00e99442c29f5'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': '10', 'name': 'mallu', 'class': 'MLDL ', 'timing ': 'OTD_FTQ'}
{'_id': '1', 'name': 'MVR', 'class': 'TCS ', 'timing ': 'office'}
{'_id': '2', 'name2': 'BVR', 'class2': 'Covalance ', 'timing1 ': 'wfh'}
{'_id': '3', 'name3': 'BPRANAV', 'class3': '7th ', 'school ': 'Vydehi'}
{'_id': '4', 'name4': 'SUDIKSHA', 'class4': '4th ', 'school2 ': 'carmel'}

{'_id': ObjectId('63f0bf61dda00e99442c29f5'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

In [8]:
coll_create.drop()

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.

In [9]:
#In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. 
#It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.
data1 = {'_id': '10',"name" : "mallu",
        "class" : "MLDL ",
        "timing " : "OTD_FTQ", "amount" :1000
}

coll_create.insert_one(data1)

data2 = [
    {'_id': '1',"name" : "MVR",        "class" : "TCS ",        "timing " : "office", "amount" :1000},
    {'_id': '2',"name2" : "BVR",        "class2" : "Covalance ",        "timing1 " : "wfh", "amount" :5000},
    {'_id': '3',"name3" : "BPRANAV",        "class3" : "7th ",        "school " : "Vydehi", "amount" :3000},
    {'_id': '4',"name4" : "SUDIKSHA",        "class4" : "4th ",        "school2 " : "carmel", "amount" :4000}
]
coll_create.insert_many(data2)    

for i in coll_create.find():
    print(i)

{'_id': '10', 'name': 'mallu', 'class': 'MLDL ', 'timing ': 'OTD_FTQ', 'amount': 1000}
{'_id': '1', 'name': 'MVR', 'class': 'TCS ', 'timing ': 'office', 'amount': 1000}
{'_id': '2', 'name2': 'BVR', 'class2': 'Covalance ', 'timing1 ': 'wfh', 'amount': 5000}
{'_id': '3', 'name3': 'BPRANAV', 'class3': '7th ', 'school ': 'Vydehi', 'amount': 3000}
{'_id': '4', 'name4': 'SUDIKSHA', 'class4': '4th ', 'school2 ': 'carmel', 'amount': 4000}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [ ]:
#The sort() method specifies the order in which the query returns the matching documents from the given collection. 
#You must apply this method to the cursor before retrieving any documents from the database.

In [15]:
for i in coll_create.find().sort('amount'):
    print(i)

{'_id': '10', 'name': 'mallu', 'class': 'MLDL ', 'timing ': 'OTD_FTQ', 'amount': 1000}
{'_id': '1', 'name': 'MVR', 'class': 'TCS ', 'timing ': 'office', 'amount': 1000}
{'_id': '3', 'name3': 'BPRANAV', 'class3': '7th ', 'school ': 'Vydehi', 'amount': 3000}
{'_id': '4', 'name4': 'SUDIKSHA', 'class4': '4th ', 'school2 ': 'carmel', 'amount': 4000}
{'_id': '2', 'name2': 'BVR', 'class2': 'Covalance ', 'timing1 ': 'wfh', 'amount': 5000}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
#delete_one() deletes the first document that matches the filter.
#Delete_many() is used when one needs to delete more than one document. 
#The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection.